.advantages {
  background-image: url("../img/advantages-desktop-bg.png");
  background-color: #dae7f5;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 110px;
  padding-left: 103px;
  padding-right: 103px;
  padding-bottom: 120px;

  @media (min-width: 1024px) {
    @include retina {
      background-image: url("../img/advantages-desktop-bg@2x.png");
    }
  }

  @include vp-1023 {
    padding-top: 90px;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 100px;
    background-image: url("../img/advantages-tablet-bg.png");

    @include retina {
      background-image: url("../img/advantages-tablet-bg@2x.png");
    }
  }

  @include vp-767 {
    padding-top: 57px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 65px;
    background-image: url("../img/advantages-mobile-bg.png");

    @include retina {
      background-image: url("../img/advantages-mobile-bg@2x.png");
    }
  }
}

.advantages__inner {
  max-width: 1366px;
  margin: 0 auto;
}

.advantages h2 {
  font-size: 28px;
  line-height: 42px;
  font-weight: 600;
  text-align: center;
  margin: 0;
  margin-bottom: 49px;
  color: $color-tangaroa;

  @include vp-1023 {
    font-size: 26px;
    line-height: 39px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 30px;
  }
}

.advantages__wrapper {
  width: auto;
  margin: 0 auto;

  @include vp-1023 {
    width: 678px;
  }

  @include vp-767 {
    width: 290px;
  }
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;

  @include vp-1023 {
    column-gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}

.advantages__item {
  background-color: $color-alice-blue;
  padding: 30px;
  padding-bottom: 25px;

  @include vp-1023 {
    padding: 20px;
    padding-bottom: 21px;
    padding-right: 16px;
  }

  @include vp-767 {
    padding-right: 15px;
  }
}

.advantages__icon {
  display: block;

  &--ship {
    margin-bottom: 19px;

    @include vp-1023 {
      width: 21px;
      height: 26px;
      margin-top: 5px;
      margin-bottom: 20px;
    }
  }

  &--mark {
    margin-top: 5px;
    margin-bottom: 25px;

    @include vp-1023 {
      width: 33px;
      height: 19px;
      margin-top: 9px;
      margin-bottom: 23px;
    }
  }

  &--boat {
    margin-top: 8px;
    margin-bottom: 28px;

    @include vp-1023 {
      width: 38px;
      height: 13px;
      margin-top: 12px;
      margin-bottom: 26px;
    }

    @include vp-767 {
      margin-top: 14px;
    }
  }
}

.advantages h3 {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 8px;
  word-break: break-word;

  @include vp-1023 {
    line-height: 25px;
  }
}

.advantages__subtitle {
  @include vp-1023 {
    line-height: 25px;
    margin-bottom: 9px;
  }

  @include vp-767 {
    margin-bottom: 8px;

    &--ship {
      padding-right: 80px;
    }

    &--mark {
      margin-bottom: 9px;
      padding-right: 117px;
    }

    &--boat {
      padding-right: 99px;
      margin-bottom: 9px;
    }
  }
}

.advantages__indent {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.advantages__separator {
  @include vp-1023 {
    display: none;
  }

  @include vp-767 {
    display: block;
  }

  &--desktop {
    display: none;
  }

  &--ship {
    display: none;

    @include vp-1023 {
      display: block;
    }

    @include vp-767 {
      display: none;
    }
  }

  &--indent {
    display: none;

    @include vp-1023 {
      display: block;
    }
  }

  &--mark {
    @include vp-1023 {
      display: none;
    }
  }

  &--indented {
    @include vp-767 {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: none;
    }
  }
}

.advantages p {
  font-size: 14px;
  line-height: 20px;
  color: $color-tangaroa;
  margin: 0;
  word-break: break-word;
}

.advantages__description {
  &--boat {
    padding-right: 59px;
  }

  @include vp-1023 {
    &--ship {
      padding-right: 16px;
    }

    &--mark {
      padding-right: 8px;
    }

    &--boat {
      padding-right: 3px;
    }
  }

  @include vp-767 {
    &--ship {
      padding-right: 0;
    }

    &--mark {
      padding-right: 35px;
    }

    &--boat {
      padding-right: 17px;
    }
  }
}
