.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 120px 103px;
  justify-content: center;
  width: auto;
  margin: 0 auto;

  @include vp-1023 {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 30px;
    padding: 100px 0;
    width: 678px;
  }

  @include vp-767 {
    grid-template-columns: 290px;
    row-gap: 43px;
    padding: 58px 0;
    width: 290px;
  }
}

.contacts__map {
  width: 560px;
  height: 306px;
  margin-right: 100px;

  @include vp-1023 {
    width: 324px;
    height: 335px;
    margin-right: 0;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
    order: 2;
  }
}

.contacts__map iframe {
  border: none;

  @include vp-1023 {
    width: 324px;
    height: 335px;
  }

  @include vp-767 {
    width: 290px;
    height: 316px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  padding-top: 75px;

  @include vp-1023 {
    width: auto;
    padding-top: 66px;
  }

  @include vp-767 {
    order: 1;
    padding-top: 0;
  }
}

.contacts__indent {
  display: none;

  @include vp-1023 {
    display: block;
  }

  @include vp-767 {
    &--mobile {
      display: none;
    }
  }
}

.contacts p {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 32px;

  @include vp-1023 {
    margin-bottom: 27px;
  }

  @include vp-767 {
    padding-right: 5px;
  }
}

.contacts__address {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 24px;
  font-style: normal;
  color: $color-tangaroa;
  margin: 0;
  margin-bottom: 21px;
}

.contacts__icon {
  display: block;
  margin-right: 10px;

  @include vp-1023 {
    margin-top: 5px;
  }

  &--phone {
    margin-top: 2px;

    @include vp-1023 {
      margin-top: 2px;
    }
  }
}

.contacts__phone {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 24px;
  color: $color-tangaroa;
}
