.cruise-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-tangaroa;
  box-shadow: 0 4px 35px rgba(1, 28, 64, 0.15);
  padding: 35px 25px;
  padding-top: 29px;

  @include vp-1023 {
    padding: 35px;
    padding-top: 29px;
  }

  @include vp-767 {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.cruise-info__title {
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 13px;
}

.cruise-info__subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: $color-alice-blue;
  margin: 0;
  margin-bottom: 1px;
}

.cruise-info__text {
  font-size: 14px;
  line-height: 20px;
  color: #d8d8d9;
  margin: 0;
  margin-bottom: 11px;

  &--margin {
    margin-bottom: 25px;
  }
}

.cruise-info__link {
  display: block;
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 9px;
  min-width: 210px;
  background-color: $color-alice-blue;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;
  color: $color-tangaroa;
  text-align: center;
  margin-top: 10px;
  cursor: pointer;

  @include vp-1023 {
    min-width: 239px;
  }

  @include vp-767 {
    min-width: 220px;
  }
}
