.main-nav {
  display: block;

  @include vp-767 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    // background-color: rgba(0, 43, 102, 0.5);
    min-height: 1000px;

    &--nojs {
      display: block;
    }

    &--opened {
      display: block;
    }

    &--closed {
      display: none;
    }
  }
}

.main-nav__bg {
  display: none;

  @include vp-767 {
    display: block;
    position: absolute;
    width: 11%;
    left: 0;
    top: 0;
    min-height: 1000px;
    background-color: rgba(0, 43, 102, 0.5);
  }
}

.main-nav__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include vp-767 {
    flex-direction: column;
    margin-left: 11%;
    background-color: $color-default-white;
    padding-top: 75px;
    padding-bottom: 75px;
    min-height: 1000px;
  }
}

.main-nav__item {
  margin-right: 34px;

  &:last-child {
    margin-right: 0;
  }

  @include vp-1023 {
    margin-right: 24px;
  }

  @include vp-767 {
    padding-left: 15px;
    padding-right: 30px;
    margin-right: 0;
    margin-bottom: 8px;
  }
}

.main-nav__link {
  display: block;
  font-family: inherit;
  font-weight: 500;
  line-height: 20px;
  color: $color-alice-blue;
  padding-top: 10px;
  padding-bottom: 13px;

  @include vp-1023 {
    font-size: 14px;
    line-height: 17px;
  }

  @include vp-767 {
    font-size: 18px;
    line-height: 22px;
    color: $color-tangaroa;
    padding: 10px;
  }
}
