.page-body__wrapper {
  position: relative;
  min-height: 500px;
  background-color: #245e99;
  margin-bottom: 8px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));

  @include vp-1023 {
    margin-bottom: 0;
    filter: none;
  }
}

.page-body__inner {
  position: relative;
  z-index: 2;
}

.page-body__picture {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: url("../img/header-desktop-bg.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 0 103px;

  @media (min-width: 1366px) {
    @include retina {
      background-image: url("../img/header-desktop-bg@2x.png");
    }
  }

  @include vp-1023 {
    padding: 0 45px;
    background-image: url("../img/header-tablet-bg.png");

    @include retina {
      background-image: url("../img/header-tablet-bg@2x.png");
    }
  }

  @include vp-767 {
    padding: 0 15px;
    background-image: url("../img/header-mobile-bg.png");

    @include retina {
      background-image: url("../img/header-mobile-bg@2x.png");
    }
  }
}
